<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          tools:ignore="ExtraText">

    <application
            android:exported="true"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_rules"
            tools:targetApi="31"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:label="@string/app_name"
            android:icon="@drawable/background5"
            android:roundIcon="@drawable/background5round"
            android:supportsRtl="true"
            android:theme="@android:style/Theme.NoTitleBar">
        <activity
                android:name=".MainActivity"
                android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ChangeActivity"
                android:exported="true" >
        </activity>
        <activity
                android:name=".RGBActivity"
                android:exported="true" >
        </activity>
        <activity
                android:name=".LinkActivity"
                android:exported="true" >
        </activity>
        <activity
                android:name=".RememberActivity"
                android:exported="true" >
        </activity>

    </application>

</manifest>